* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #666;
    display: flex;
}

#view {
    width: 530px;
    height: 530px;
    margin: 0px auto;
}

.wrapper {
    height: 100%;
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.wrapper > div {
    width: 120px;
    height: 120px;
    background-color: #777;
    margin: 5px;
    font-size: 48px;
    line-height: 120px;
    text-align: center;
    color: #fff;
}

.buttons {
    width: 200px;
    height: 200px;
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    transform: rotate(45deg) translate(24px, 30px);
}

.buttons > button {
    width: 45%;
    height: 45%;
    border-radius: 100%;
    border: 5px solid #81d4fa;
    outline:none;
}
.buttons > button:hover {
    border-color:#0277bc;
}
.buttons > button:nth-of-type(2) {
    order:4
}
.buttons > button:nth-of-type(3) {
    order:3
}
button > span {
    display: block;
    transform: rotate(-45deg);
    font-size:28px;
    font-weight:bold;
    color:#333;
}